doctype
html.no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")

    //title Very Metronome
    //meta(name="description", content="Very Metronome! A Free Online Metronome -  Perfect for Mobile")

    //meta(property="og:title" content="Very Metronome")
    //meta(property="og:type" content="website")
    //meta(property="og:image" content="http://verymetronome.com/fav_icons/metronome.jpg")
    //meta(property="og:url" content="http://verymetronome.com")
    //meta(property="og:description" content="Very Metronome! The Best Free Online Metronome App -  Perfect for Mobile")
    //meta(property="og:site_name" content="Very Metronome")
    //meta(name="google-site-verification" content="MdcRr2N15Wz-R0hfNuXQ7VxQtB-LgxgmNpwK-ocs2iM")
    //link(rel="apple-touch-icon" sizes="57x57" href="./fav_icons/apple-icon-57x57.png")
    //link(rel="apple-touch-icon" sizes="60x60" href="./fav_icons/apple-icon-60x60.png")
    //link(rel="apple-touch-icon" sizes="72x72" href="./fav_icons/apple-icon-72x72.png")
    //link(rel="apple-touch-icon" sizes="76x76" href="./fav_icons/apple-icon-76x76.png")
    //link(rel="apple-touch-icon" sizes="114x114" href="./fav_icons/apple-icon-114x114.png")
    //link(rel="apple-touch-icon" sizes="120x120" href="./fav_icons/apple-icon-120x120.png")
    //link(rel="apple-touch-icon" sizes="144x144" href="./fav_icons/apple-icon-144x144.png")
    //link(rel="apple-touch-icon" sizes="152x152" href="./fav_icons/apple-icon-152x152.png")
    //link(rel="apple-touch-icon" sizes="180x180" href="./fav_icons/apple-icon-180x180.png")
    //link(rel="icon" type="image/png" sizes="192x192" href="./fav_icons/android-icon-192x192.png")
    //link(rel="icon" type="image/png" sizes="32x32" href="./fav_icons/favicon-32x32.png")
    //link(rel="icon" type="image/png" sizes="96x96" href="./fav_icons/favicon-96x96.png")
    //link(rel="icon" type="image/png" sizes="16x16" href="./fav_icons/favicon-16x16.png")
    //link(rel="manifest" href="./fav_icons/manifest.json")
    //meta(name="msapplication-TileColor" content="#ffffff")
    //meta(name="msapplication-TileImage" content="./fav_icons/ms-icon-144x144.png")
    //meta(name="theme-color" content="#ffffff")

    link(rel="stylesheet", href="./style.css")
  body
    #how-to-use
      p double tap anywhere to open the search and list of songs!
    #song-container
    #search.closed
      #search-container
        input#search-input
        #search-results
      #search-dismiss &#215;
    script(src="./bundle.min.js")
